body{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: teal;
}

#header-nav{
   border: 0;
   border-radius: 0;
   background-color: brown;
}

#header-nav button {
    margin-top: 22px;
}

.navbar-collapse {
    border-top: 0;
}

.navbar-brand, .navbar-nav li a {
    line-height: 66px;
    height: 80px;
    padding-top: 0;
}

.navbar-brand h1 {
    color: white;
    padding-left: 0px;
    margin-left: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: 1.8em;
}

.navbar-brand a:hover {
    text-decoration: none;
}

#nav-list {
    background-color: rgb(209, 81, 81);
}

#nav-list a {
    /*text-align: center;*/
    font-weight: bolder;
    color: white;
    font-size: 1.2em;
    border-bottom: 1px solid black;
}

#nav-list a:hover {
    color: black;
    background-color: wheat;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
    border: 1px solid aqua;
}

h1{
    font-weight: bolder;
    font-size: 3em;
    color: rgba(255, 255, 255, 0.685);
}

h2{
    margin: 10px;
    margin-top: 0;
    padding: 20px;
}

#main{
    margin-top: 0;
}

section{
    margin: 18px;
    padding-top: 0;
    padding: 15px;
    background-color: rgba(145, 158, 31, 0.712);
    color: rgba(255, 255, 255, 0.685);
}